body{
    font-family: Arial, sans-serif;
    text-align: center;
    background: #f4f4f4;
    margin-top: 80px;
}

.card{
    width: 300px;
    margin: auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

button{
    padding: 10px 15px;
    margin-top: 10px;
    cursor: pointer;
}
